.NavLink {
  text-decoration: none;
  padding-right: 50px;
}
.navbar {
  height: 40px;
  background: black;
  color: white;
  display: flex;

  padding: 30px;
}
.active {
  font-weight: bold;
  color: #fff;
}
html {
  font-size: 30px;
  color: black;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex-item {
  -webkit-flex: 1 auto;
  flex: 1 auto;
  width: 50%;
  height: 500px;
}

.wrap-filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  height: 200px;
}

.Tag {
  border-radius: 5px;
  padding: 1px 3px;
  margin-right: 0.1rem;
  color: white;
  font-size: 0.85em;
  background: #555;
}
