@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
.NavLink {
  text-decoration: none;
  padding-right: 50px;
  color: #fff;
}
.navbar {
  // height: 40px;
  background: black;
  color: white;
  display: flex;

  padding: 30px;
}
.active {
  font-weight: bold;
  color: #fff;
}
html {
  color: black;
}
